{{template "index"}}

<div class="card card-1 col-md-6 text-md-center" id="card1">
    <table class="table table-hover" >
        <tbody>
        <tr>
            <td colspan="2"><span class="bold"><h1>Current Balance</h1></span></td>
        </tr>
        <tr>
            <td colspan="2">
                <span class="bold">
                    <h2>${{.}}.00</h2>
                </span>
            </td>
        </tr>

        <tr>
            <td><span class="bold">Approved by</span></td>
            <td colspan="2"><img src="../assets/signatures.jpg"></td>
        </tr>
        </tbody>
    </table>
</div>
